body {
    background: url("../img/bgtile.png") repeat #DADADA;
    position: relative;
}
.rfcontainer {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
.rfcontainer > * {
    flex: 0 1;
}
.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.column > * {
    width: 600px;
    max-width: 100%;
    text-align: center;
    margin: 5px !important;
}
.label {
    white-space: nowrap;
}
#dim-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    background-color: #DADADA80;
    z-index: -1;
}
#logocontainer {
    display: flex;
    align-content: flex-start;
}
#logocontainer > a {
    margin: 15px 10px 10px 15px;
    flex-shrink: 1;
    flex-wrap: wrap;
}
#logo {
    width: 300px;
    max-width: 100%;
}
#footercontainer {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
#content {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}
#content > a {
    color: rgb(110,110,110);
}
#content > a:hover {
    color: rgb(150,150,150);
}
.field-error {
    color: red;
}
::placeholder {
    color: grey !important;
    opacity: 1;
}
input:focus::placeholder {
    color: darkslategray !important;
    opacity: 1;
}
a {
    cursor: pointer;
}
#modalCGU{
    left: auto !important;
    width: 75% !important;
}
#modalCGU > .header > h1{
    text-align: center;
}

#modalForgottenPwd > .close{
    top: -0.1rem !important;
    right: -0.1rem !important;
    color: #000000 !important;
}