#rf-footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: var(--rf-footer-height);
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border-top: 3px solid #21ba45;
    background-color: darkslategrey;
}

#rf-footer > .segment {
    display: flex;
    align-items: center;
}

#rf-footer > .segment > a {
    font-weight: bold;
    color: #bfbebe;
}

#rf-footer > .segment > a:hover {
    font-weight: bold;
    color: ghostwhite;
}

#modalCGU{
    left: auto !important;
    width: 75% !important;
}
#modalCGU > .header > h1{
    text-align: center;
}

#modalFAQ{
    left: auto !important;
    width: 75% !important;
}
#modalFAQ > .header > h1{
    text-align: center;
}
