:root {
    --rf-footer-height: 30px;
    --rf-nav-height: 46px;
}

body {
     margin:0;
     padding:0;
     height:100%;
}

a {
    cursor: pointer;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner > * {
    width: fit-content;
    text-align: center;
}

.field-error {
    color: red;
}

#rf-wrapper {
    min-height:100%;
    position:relative;
}

#rf-content {
    padding: 10px 5px var(--rf-footer-height) 5px;
}

.ui.popup {
    max-width: 100%;
}

.md-img img, .sm-img img, .tiny-img img {
    max-height: 100%;
    max-width: 100%;
}

.tiny-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.sm-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
}

.md-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
}


@media screen and (min-width: 769px) {
    .md-img {
        width: 175px;
        height: 175px;
    }

    .sm-img {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 768px) {
    .md-img {
        width: 100px;
        height: 100px;
    }

    .sm-img {
        width: 75px;
        height: 75px;
    }
}

