.myboard-container {
    display: flex;
    justify-content: center;
}

#actionBoard{
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto;
    min-width: 220px;
}

.actionButton{
    display: inline-block;
    align-content: center;
    justify-content: center;
    font-size: 1.2rem;
    min-height: 60px;
    min-width: 120px;
    width: 12vw;
    height: 5vw;
    opacity: 75%;
    transition: 0.4s;
    color: green;
    border: solid limegreen 1px;
    border-radius: 4px;
}
.actionButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#divAction{
    width: 80%;
    padding: 30px;
    margin: 0 auto 30px auto;
    border: solid limegreen 4px;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ui.green.card{
    margin-left: auto;
    margin-right:auto;
    border-radius: 15px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-unit {
    --qty-width: 85px;
    width: var(--qty-width) !important;
    min-width: var(--qty-width) !important;
    max-width: var(--qty-width) !important;
}

.md-img {
    max-width: 100%;
}

.field-textarea {
    margin-bottom: 14px !important;
}

@media screen and (min-width: 900px){
    .actionButton {
        font-size:1.2rem;
    }
}

@media screen and (max-width: 1050px){
    #divAction {
        width: 100%;
    }
}

@media screen and (min-width: 1051px){
    .actionButton {
        font-size: 1.4rem;
    }
}
