#rf-nav {
    display: block;
    position: sticky !important;
    width: 100%;
}
.ui.menu {
    border-radius: 0;
}

#logo_ResponsibleFood_small {
    width: 40px;
    height: 40px;
}

.small-only { display: none !important; }
.large-only { display: flex !important; }

@media screen and (min-width: 890px) {
    .small-only { display: none !important; }
    .large-only { display: flex !important; }
}

@media screen and (max-width: 889px) {
    .small-only { display: flex !important; }
    .large-only { display: none !important; }
}

.menu > .item.selected.active {
    font-weight: 100 !important;
}

#dropdown_basket > .menu > .message {
    width: 300px;
    height: auto;
    white-space: pre-line;
}

#dropdown_basket > .menu > .item{
    width: 300px;
    height: 50px;
}

#dropdown_basket > .menu > .item > .button{
    width: 100%;
    height: 100%;
}

#basket_delete_all{
    color: red !important;
    text-align: center;
}

#basket_buy{
    color: forestgreen !important;
    text-align: center;
}

#dropdown_basket > .menu > .item > .text, .description{
    display: inline-block;
}

#dropdown_basket > .menu > .item > .text, .description{
    text-align: left;
}

#basket_message{
    color: black;
}

.basket_left{
    float: left;
}

.basket_right{
    float: right;
}