.offer-img {
    margin: 15px;
}

@media screen and (max-width: 768px){

    .offers-container {
        width: 100%;
        display: flex;
    }

    .offer-container .img{
        min-width : 10vw;
    }

    .offer-container .offer-text-content{
        margin-left: 5%;
    }

    .offer-detailed-left, .offer-detailed-right {
        margin-right: 2vw;
    }

    .img-detailed-offer {
        width: 25vw;
    }

    .offer-special {
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 2vw;
    }
}

@media screen and (min-width: 769px){

    .offers-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .offer-container {
        width : 30vw;
    }

    .offer-container .img{
        min-width : 7vw;
    }

    .offer-detailed-left {
        margin-right: 3vw;
    }

    .offer-detailed-right {
        width: 30vw;
    }

    .img-detailed-offer {
        width: 15vw;
    }

    .offer-special {
        margin-left: 23vw;
        margin-right: 23vw;
        padding: 2vw;
    }

}

.offer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.offers-container.limit-size {
    max-width: 1050px;
}

.offer-container {
    display: flex;
    width: 500px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    border: 2px limegreen solid;
}

.lien {
    color: black;
}

.lien:hover {
    color: black;
}

.offer-container .img{
    margin: 3%;
}

.offer-container .offer-text-content{
    margin-left: 5%;
    margin-right: 3%;
    text-align: justify;
}

.offer-margin {
    margin: 5px;
    width: 500px;
    display: block;
}

.offer-detailed-container {
    display: flex;
    flex-direction: row;
}

.cart-info {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.add-to-cart-container, .offer-detailed-container {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    padding-bottom: 0;
}

.offer-detailed-left, .offer-detailed-right {
    display: flex;
    flex-direction: column;
}

.offer-detailed-right div {
    margin-bottom: 2vh;
    max-height: 4em;
    text-align: left;
}

.offer-detailed-right .message{
    max-height: none;
}

.offer-detailed-right div.info-prod {
    margin-bottom: 8vh;
}

.offer-special {
    border-radius: 5px;
    border: 2px solid limegreen;
}

.offer-category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}