.largeContent {
    width: 15vw;
    max-width: 15vw;
    min-width: 15vw;
}

.lienVers {
    border-radius: 5px;
    border: 1px solid limegreen;
    background-color: limegreen;
    height: 2.5em;
    text-align: center;
    margin-top: 5%;
}

.prod-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
}

.prod-info-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.prod-infos-contact-container {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 769px){
    .prod-content {
        margin: 0 10vw;
    }
}