@media screen and (max-width: 768px){

    .inputSearch {
        width: 40vw;
    }

    .divSearchBar {
        width: 100%;
    }

    .tags, #rshTags {
        flex-grow: 1;
    }

    .researchContainerImg {
        display: flex;
        width: 100%;
    }

    .search_text {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (min-width: 769px){

    .inputSearch {
        width: 25vw;
    }

    .divSearchBar {
        min-width: 600px;
    }

    .tags, #rshTags {
        flex-grow: 1;
    }

    #rshText, .tags {
        width: 480px !important;
    }

    .researchContainerImg {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search_text {
        margin-left: 12vw;
        margin-right: 12vw;
    }

    .search_categories {
        margin-left: 12vw;
        margin-right: 12vw;
    }
}

.search-bar-selector, #searchBtn {
    max-height: 38px;
}

.search-bar-selector {
    width: 130px;
}

.researchShortcut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.figureShortcut {
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    width: 7vw;
    height: 7vw;
}

.category-container {
    margin: 10px;
}

.category-container:hover .img-overlay {
    display: flex;
}

.text-centered {
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
}

.img-overlay {
    display: none;
    position: absolute;
    background-color: rgba(65,65,65,0.60);
    transition: background-color 0.5s;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.img-category {
    border-radius: 20px;
    background-clip: padding-box;
    cursor: pointer;
}

#rshTags {
    display: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tags > .search.dropdown{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btnSearch {
    height: 2.7em;
}

.divSearchBar input::placeholder, .divSearchBar select::placeholder{
    color: rgb(150, 150, 150) !important;
}

.divSearchBar input:focus::placeholder, .divSearchBar select:focus::placeholder {
    color: rgb(110,110,110) !important;
}