.profile-head {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-head div {
    margin: 10px 0;
}

.profile-image {
    margin: 10px 0;
}

.profile-data table td {
    padding: 0 20px;
}

.edit-btn {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-end !important;
    padding: 25px 25px 0 0;
}

.btn-right-group {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.img-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container > * {
    padding: 5px 0;
}

.rf-edit-data {
    margin-bottom: 15px;
}
