#actionBoard{
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto;
    min-width: 220px;
}
.actionButton{
    display: inline-block;
    align-content: center;
    justify-content: center;
    font-size: max(1.3vw, 20px);
    width: max(12vw, 160px);
    height: max(5vw, 60px);
    opacity: 75%;
    transition: 0.4s;
    color: green;
    border: solid limegreen 1px;
    border-radius: 4px;
}
.actionButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#divAction{
     width: 80%;
     padding: 30px;
     margin: 0 auto 30px auto;
     border: solid limegreen 4px;
     border-radius: 20px;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

.divHomeAdmin{
    width: 90%;
    padding: 30px;
    margin: 0 auto 30px auto;
    border: solid limegreen 4px;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 768px){
   #divAction {
        width: 90%;
        padding: 30px;
        margin: 0 auto 30px auto;
    }
}

#divAction .divided.items {
    width: 100%;
}

.item .image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}